
  
  
  
  .right-section {
    border: 1px solid #e0e0e0;

  }
  
  .form-title {
    font-size: 2rem;
    font-weight: bold;
   
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
  }
  
  .input-group label {
    margin-bottom: 8px;
    font-size: 14px;
    color: #000;
    font-weight: 400;
  }
  
  .input-wrapper {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 14px 10px;
    border-radius: 22px;
    border: 1px solid #e0e0e0;
    
  }
  
  .input-wrapper input {
    flex: 1;
    background: none;
    border: none;
    outline: none;
    color: black;
    font-size: 14px;

  }

  .input-wrapper textarea{
    flex: 1;
    background: none;
    border: none;
    outline: none;
    color: black;
    font-size: 14px;
    resize: none;
  }
  
  
  
  
  .submit-button {
    background-color: #6B8E23 ;
    color: white;
    border: none;
    padding: 14px;
    font-weight: bold;
    border-radius: 26px;
    cursor: pointer;
    /* transition: background 0.3s; */
  }
  
  .submit-button:hover {
    background-color: #1e80e0;
  }
  